[unix_http_server]
file=/var/run/supervisor/supervisord.sock

[supervisord]
logfile=/var/log/supervisord.log
loglevel=info
nodaemon=true

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor/supervisord.sock

[program:nginx]
command=/usr/sbin/nginx -g "daemon off;"

[program:php-fpm]
command=/usr/bin/php-fpm --nodaemonize --fpm-config /etc/php5/php-fpm.conf

[program:mysqld]
command=/usr/bin/pidproxy /var/run/mysqld/mysqld.pid /usr/bin/mysqld --datadir=/var/lib/mysql --socket=/var/run/mysqld/mysqld.sock --pid-file=/var/run/mysqld/mysqld.pid --basedir=/usr --user=root

[program:memcached]
command=/usr/bin/memcached -p 11211 -u memcached -m {{ var "MEMCACHED_MEMUSAGE" }} -c {{ var "MEMCACHED_MAXCONN" }} -P /var/run/memcached/memcached.pid

[program:redis]
command=/usr/bin/redis-server /etc/redis/redis.conf
user=redis
